.app {
  padding: 1vh 1vw;
}

.app .form {
  width: 40%;
  margin-inline: auto;
  margin-block: 2vh;
}

.app .form fieldset {
  border: 1px solid black;
  border-radius: 5px;
  padding: .4vh .4vw;
}

.app .form fieldset legend {
  margin-left: .25vw;
}

.app .form fieldset div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh 1vw;
  margin-block: .5vh;
}

.app .form fieldset div label {
  margin-left: .5vw;
}

.app .form button {
  background-color: #CD5C5C;
  color: #FFFFFF;
  border: none;
  font-size: 16px;
  margin-block: 1vh;
  padding: 1vh 1vw;
  width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .app .form {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .app .form {
    width: 80%;
  }
}

@media screen and (max-width: 425px) {
  .app .form {
    width: 94%;
  }
}